@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #0c242a, #0ca6e3);
    color: rgba(0, 0, 0, 0.885);
    line-height: 1.9;
}